body
{
background-image: url(prof_back.jpg);
background-repeat: none;
background-size: cover;    
}
.header
{
    position: absolute;
    margin-top: 17%;
    margin-left: 38%;
    background-color:	 #66ff66 ;
    width:340px;
    font-size: 10px;
}
.Square
{
position: absolute;
margin-top:20%;     
margin-left: 38%;
background-color:#c2d6d6;
width:300px;
padding: 20px;
}
#Search

{
  width:130px;      
    
}
#button
{
    width:85px;
}