<html>
    <head>
    <title>Raja Ram Steels</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/add_me.css')}}">
    </head>
    <body>
        <ul>
  <li style="float:right"><a class="active" href="/first">Login</a></li>
  <li style="float: left"><a class="logo"></a></li>
   <li><marquee direction="left"> Welcome To Raja Ram Steels</marquee></li>            
</ul>
        <div class="explain">
        <h2>How to Use this Website?</h2>
        <p>This Website makes your work easier.You can put raw materials and product details through this website and also can take a print of bill invoice.</p>
        <p>You can access this website by following steps</p>
        <ol type="1">
        <li><b>Login</b> by your id and Password.</li><br>
        <li>For Raw Material and party details Click on <b>Purchase</b>.</li><br>
            <li>You can print bill invoice just by entering bill no. in <b>invoice</b> section</li>
        </ol>
        </div>
    </body>
</html> 