<!DOCTYPE html>
<html>
    <head>
    <title>Chaseyourbeat</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <ul>
            <li><a href="#">Home</a></li>
        </ul>
        <header>
        <h1>Welcome to my world.</h1>
        <h2>welcome to my world</h2>
            <div class="boxname">  </div>
            <hr>
            <p><font size="6" color="black">Hi guys this is <q>deepak sharma you r friend</q> .the world is very beautiful you all know but did you guys enjoying here?if not then join me .</font size> </p>
            <table>
                <tr>
                    <th><button><a href="#">Product</a></button></th>
                    <td><button><a href="#">Sell</a></button></td>
                    <th><button>Store</button></th>
                    <td><button>Bill</button></td>
                </tr>
            </table>
       </header>
        
<iframe width="560" height="315" src="https://www.youtube.com/embed/8Y1XBTOgxWc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </body>
</html>