<!DOCTYPE html>
<html>
    <head>
        <title>main menu</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main_menu.css')}}">
    </head>
    <body>
            <a href="/party1"><input type="Button" Value="Purchase" id = "b1"></a><br>
            <a href="/customer"><input type="Button" Value="Sell" id = "b2"></a>&nbsp;
                
            <a href="/bill"><input type="Button"  id ="b4"></a>&nbsp;
                
            <a href="/add_raw"><input type="Button" Value="Add Material" id="b5"></a>&nbsp;
                
            <a href="/add_product"><input type="Button" Value="Add Product" id="b6"></a>&nbsp;
            
    </body>
</html>