<!DOCTYPE html>
<html>
    <head>
        <title>Information Purchase</title>
        <link rel="stylesheet"href="{{url_for('static',filename='css/Material_info.css')}}">
    </head>
    <body>
        <center> 
            <form action = "/old2" method = "POST">
        <div class="Container">
            <center>
         <h1>Purchase Details</h1>
            </center>
        <input type="text" placeholder="Material Name" id="t5" name= "name"><br><br>
        <input type="text" placeholder="Quantity Of Material"  id="t6" name = "qty"> <br><br>
        <input type="text" placeholder="Price"  id="t7" name = "price"> <br><br>
  <input type="submit" Value="Add Material" id="t13" ><br><br> 
            <a href = "/finalize"><input type="button" Value="Submit" id="t12" ></a>
            
            </div>
            </form>
        </center>  
    </body>
</html>